rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/{doc} {
      allow read, write: if true;
    }
    match /members/{phone} {
      allow read, write: if true;
    }
    match /leads/{id} {
      allow read, write: if true;
    }
  }
}
